body { background-color: #000000;
       color: #0000FF;
       font-family: Verdana, Arial, sans-serif; }
header { background-color: #33CC00;
         text-align: center;}
h1 { font-weight: bold;
     text-decoration-line: underline;
     line-height: 200%; }
h2 { background-color: #33CC00;
     font-weight: bold;
     text-align: center;}
nav { font-weight: bold; }
nav a { text-decoration: none;}
ul { font-weight: bold; }
footer { background-color: #33CC00;
         font-size: .60em;
         font-style: italic; 
         text-align: center; }
#wrapper { margin-left: auto;
           margin-right: auto;
           width: 80%; }